<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC9E_IEgksqLswI5omHYx4EPHLsT6Y9QCg</string>
	<key>GCM_SENDER_ID</key>
	<string>34782540195</string>
	<key>BUNDLE_ID</key>
	<string>com.adaracurry.studygrove</string>
	<key>PROJECT_ID</key>
	<string>study-app-18492</string>
	<key>STORAGE_BUCKET</key>
	<string>study-app-18492.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34782540195:web:e8a1518bd8945d60c5aa16</string>
</dict>
</plist>
